{% extends 'layouts/main.html' %}
{% load widget_tweaks %}
{% load mptt_tags %}

{% block page_name %}
    Импорт
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Шаг 2.</h3>
                </div>
                <div class="box-body" style="display: block;">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.sheet.auto_id }}">{{ form.sheet.label }}</label>
                            {{ form.sheet|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.category.auto_id }}">{{ form.category.label }}</label>
                            {{ form.category|add_class:"form-control" }}
                        </div>

{#                        <div class="form-group">#}
{#                            <label>Выберите лист:</label>#}
{#                            <select class="form-control" name="sheet">#}
{#                                {% for sheet in sheets %}#}
{#                                    <option value="{{ sheet }}">{{ sheet }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label>Выберите категорию:</label>#}
{#                            {% full_tree_for_model price360.Category as categories_ %}#}
{#                            <select>#}
{#                                {% for category in categories_ %}#}
{#                                    <option>{{ category }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
{#                            <select class="form-control" name="category_id">#}
{#                                {% for category in categories %}#}
{#                                    <option value="{{ category.pk }}">{{ category.name }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
{#                        </div>#}
                        <button type="submit" class="btn btn-success">Далее</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}