{% extends 'layouts/main.html' %}
{% load widget_tweaks %}

{% block page_name %}
    Импорт
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Шаг 4.</h3>
                </div>
                <div class="box-body" style="display: block;">
                    Импорт успешно произведён.<br>
                    Детали импорт:
                    <ul>
                        <li>Успешно обработанных строк: {{ import_result.success_rows }}</li>
                        <li>Всего строк: {{ import_result.rows }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}