{% extends 'layouts/main.html' %}
{% load widget_tweaks %}

{% block page_name %}
    Импорт
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Шаг 3.</h3>
                </div>
                <div class="box-body" style="display: block;">
                    <form method="post">
                        {% csrf_token %}
                        <div style="overflow: auto;">
                            <table class="table table-bordered" style="font-size: 10px;">
                                <tr id="tr-header">
                                    {% for col in preview_rows.0 %}
                                        <td>
                                            <select name="col-{{ forloop.counter0 }}">
                                                <option disabled selected>Выберите</option>
                                                <option value="code">Артикул</option>
                                                <option value="name">Название</option>
                                                <option value="wholesale_price">Цена опт.</option>
                                                <option value="retail_price">Цена розн.</option>
                                                <option value="wholesale_currency">Валюта опт.</option>
                                                <option value="retail_currency">Валюта розн.</option>
                                                <option value="manufacturer">Производитель</option>
                                                <option value="stock_raw">Наличие</option>
                                                <option disabled>-- Поля --</option>
                                                {% for category_field in category_fields %}
                                                    <option value="{{ category_field.code }}">{{ category_field.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    {% endfor %}
                                </tr>
                                {% for row in preview_rows %}
                                    <tr>
                                    {% for col in row %}
                                        <td>{{ col }}</td>
                                    {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" data-field="{{ form.wholesale_currency.html_name }}" id="required-{{ form.wholesale_currency.html_name }}">
                                    <label>{{ form.wholesale_currency.label }}</label>
                                    {{ form.wholesale_currency }}
                                </div>
                                <div class="form-group" data-field="{{ form.retail_currency.html_name }}" id="required-{{ form.retail_currency.html_name }}">
                                    <label>{{ form.retail_currency.label }}</label>
                                    {{ form.retail_currency }}
                                </div>
                                <div class="form-group" data-field="{{ form.manufacturer.html_name }}" id="required-{{ form.manufacturer.html_name }}">
                                    <label>{{ form.manufacturer.label }}</label>
                                    {{ form.manufacturer }}
                                </div>
                                <div class="form-group" data-field="{{ form.guarantee.html_name }}" id="required-{{ form.guarantee.html_name }}">
                                    <label>{{ form.guarantee.label }}</label>
                                    {{ form.guarantee }}
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-primary" id="btn-check">Проверить</a>
                        <button type="submit" class="btn btn-success" id="btn-submit" style="display: none;">Далее</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript_bottom %}
    <script>
        var required_fields = {{ required_fields | safe  }};
        var selected_fields = [];
{#        console.log(required_fields);#}
        $(document).ready(function(){
            var required_fields_inputs = {};
            $('div[id^="required-"]').each(function(idx, val) {
                required_fields_inputs[$(val).data('field')] = $(val);
                $(val).prop('required', false);
                $(val).hide();
            });
            console.log(required_fields_inputs);
            $('#btn-check').on('click', function(){
                selected_fields = [];
                $('#tr-header select').each(function(idx, val){
                    var value = $(val).val();
                    if (value) {
                        selected_fields.push(value);
                    }
                });

                for (var key in required_fields_inputs) {
                    if (required_fields_inputs.hasOwnProperty(key)) {
                        var value = required_fields_inputs[key].find('input, select').val();
                        if (value) {
                            selected_fields.push(key);
                        }
                    }
                }

{#                console.log("SELECTED");#}
{#                console.log(selected_fields);#}

                var diff_fields = required_fields.filter(function(x) { return selected_fields.indexOf(x) < 0 });

{#                console.log("DIFF");#}
{#                console.log(diff_fields);#}
                diff_fields.forEach(function(val, idx) {
                    if (val in required_fields_inputs) {
                        required_fields_inputs[val].show();
                        required_fields_inputs[val].prop('required', true);
                    }
                });

                console.log(diff_fields.length);
                if (diff_fields.length == 0) {
                    $('#btn-submit').show();
                }
            });
        });
    </script>
{% endblock %}