{% extends 'layouts/main.html' %}
{% load widget_tweaks %}

{% block page_name %}
    Импорт
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Шаг 1.</h3>
                </div>
                <div class="box-body" style="display: block;">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.file.auto_id }}">{{ form.file.label }}:</label>
                            {{ form.file }}
                            <p class="help-block">Выберите файл для импорта</p>
                        </div>
                        <button type="submit" class="btn btn-success">Далее</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}