{% extends 'layouts/main.html' %}
{% load mptt_tags %}

{% block page_name %}
    Категории
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="callout callout-{% if message.tags %}{{ message.tags }}{% endif %}">
                                        <p>{{ message }}</p>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <a class="btn btn-primary" href="{% url 'settings-category-create' %}">
                                <i class="fa fa-file-o"></i> Создать категорию
                            </a>
                        </div>
                    </div>
                    <br>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th style="width: 20%;">Родительская категория</th>
                            <th>Название</th>
                            <th>Магазин</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td>{{ object.pk }}</td>
                                <td>{{ object.get_ancestors|tree_path:" > " }}</td>
                                <td>{{ object.name }}</td>
                                <td>{{ object.shop }}</td>
                                <td><a href="{% url 'settings-category-update' object.pk %}" class="btn btn-warning"><i
                                        class="fa fa-edit"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}