{% extends 'layouts/main.html' %}
{% load widget_tweaks %}

{% block page_name %}
    Изменение категории
{% endblock %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Категория "{{ object }}"</h3>
        </div>
        <form role="form" action="" method="post">
            {% csrf_token %}
            <div class="box-body">
                <div class="form-group">
                    <label for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
                    {{ form.name|add_class:'form-control' }}
                    <p class="help-block">Введите название категории</p>
                </div>
                <div class="form-group">
                    <label for="{{ form.parent.auto_id }}">{{ form.parent.label }}</label>
                    {{ form.parent|add_class:'form-control' }}
                    <p class="help-block">Выберите родительскую категорию</p>
                </div>
                <div class="form-group">
                    <label for="{{ form.shop.auto_id }}">{{ form.shop.label }}</label>
                    {{ form.shop|add_class:'form-control' }}
                    <p class="help-block">Выберите магазин к которому будет привязана категория</p>
                </div>

            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </form>
    </div>
{% endblock %}