{% load static %}
{% load mptt_tags %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Price360</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{% static 'bower_components/Ionicons/css/ionicons.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">
  <!-- Morris chart -->
  <link rel="stylesheet" href="{% static 'bower_components/morris.js/morris.css' %}">
  <!-- jvectormap -->
  <link rel="stylesheet" href="{% static 'bower_components/jvectormap/jquery-jvectormap.css' %}">
  <!-- Date Picker -->
  <link rel="stylesheet" href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.css' %}">
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="{% static 'https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js' %}"></script>
  <script src="{% static 'https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>P</b>360</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Price</b>360</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-shopping-cart"></i> {{ request.user.last_shop.code }}
                </a>
                <ul class="dropdown-menu">
                    <li class="header">Текущий магазин <b>"{{ request.user.last_shop }}"</b></li>
                    <li>
                        <!-- inner menu: contains the actual data -->
                        <ul class="menu">
                            {% for shop in SHOPS %}
                                <li>
                                    <a href="{% url 'change-shop' shop.pk %}">
                                        <i class="fa fa-map-pin text-aqua"></i> {{ shop }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
          <!-- Notifications: style can be found in dropdown.less -->
{#            <li class="dropdown notifications-menu">#}
{#                <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#                    <i class="fa fa-bell-o"></i>#}
{#                    <span class="label label-warning">10</span>#}
{#                </a>#}
{#                <ul class="dropdown-menu">#}
{#                    <li class="header">You have 10 notifications</li>#}
{#                    <li>#}
{#                        <!-- inner menu: contains the actual data -->#}
{#                        <ul class="menu">#}
{#                            <li>#}
{#                                <a href="#">#}
{#                                    <i class="fa fa-users text-aqua"></i> 5 new members joined today#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">#}
{#                                    <i class="fa fa-warning text-yellow"></i> Very long description here that may not#}
{#                                    fit into the#}
{#                                    page and may cause design problems#}
{#                                </a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li class="footer"><a href="#">Смотреть все</a></li>#}
{#                </ul>#}
{#            </li>#}
{#          <!-- Tasks: style can be found in dropdown.less -->#}
{#          <li class="dropdown tasks-menu">#}
{#            <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#              <i class="fa fa-flag-o"></i>#}
{#              <span class="label label-danger">9</span>#}
{#            </a>#}
{#            <ul class="dropdown-menu">#}
{#              <li class="header">You have 9 tasks</li>#}
{#              <li>#}
{#                <!-- inner menu: contains the actual data -->#}
{#                <ul class="menu">#}
{#                  <li><!-- Task item -->#}
{#                    <a href="#">#}
{#                      <h3>#}
{#                        Design some buttons#}
{#                        <small class="pull-right">20%</small>#}
{#                      </h3>#}
{#                      <div class="progress xs">#}
{#                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"#}
{#                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">#}
{#                          <span class="sr-only">20% Complete</span>#}
{#                        </div>#}
{#                      </div>#}
{#                    </a>#}
{#                  </li>#}
{#                  <!-- end task item -->#}
{#                  <li><!-- Task item -->#}
{#                    <a href="#">#}
{#                      <h3>#}
{#                        Create a nice theme#}
{#                        <small class="pull-right">40%</small>#}
{#                      </h3>#}
{#                      <div class="progress xs">#}
{#                        <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"#}
{#                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">#}
{#                          <span class="sr-only">40% Complete</span>#}
{#                        </div>#}
{#                      </div>#}
{#                    </a>#}
{#                  </li>#}
{#                  <!-- end task item -->#}
{#                </ul>#}
{#              </li>#}
{#              <li class="footer">#}
{#                <a href="#">Смотреть все задачи</a>#}
{#              </li>#}
{#            </ul>#}
{#          </li>#}
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
{#              <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">#}
              <span class="hidden-xs">{{ request.user }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
{#                <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">#}

                <p>
                  {{ request.user }}
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
{#                  <div class="col-xs-4 text-center">#}
{#                    <a href="#">Followers</a>#}
{#                  </div>#}
{#                  <div class="col-xs-4 text-center">#}
{#                    <a href="#">Sales</a>#}
{#                  </div>#}
{#                  <div class="col-xs-4 text-center">#}
{#                    <a href="#">Friends</a>#}
{#                  </div>#}
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
{#                <div class="pull-left">#}
{#                  <a href="#" class="btn btn-default btn-flat">Профиль</a>#}
{#                </div>#}
                <div class="pull-right">
                  <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Выйти</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
{#        <div class="pull-left image">#}
{#          <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">#}
{#        </div>#}
{#        <div class="pull-left info">#}
{#          <p>{{ request.user }}</p>#}
{#          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>#}
{#        </div>#}
      </div>
      <!-- search form -->
{#      <form action="#" method="get" class="sidebar-form">#}
{#        <div class="input-group">#}
{#          <input type="text" name="q" class="form-control" placeholder="Поиск...">#}
{#          <span class="input-group-btn">#}
{#                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>#}
{#                </button>#}
{#              </span>#}
{#        </div>#}
{#      </form>#}
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Меню</li>
            <li class="active">
                <a href="/">
                    <i class="fa fa-dashboard"></i> <span>Главная</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <li class="treeview {% if 'settings-' in request.resolver_match.url_name %}active{% endif %}">
                <a href="#">
                    <i class="fa fa-sliders"></i>
                    <span>Настройки</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if 'settings-category' in request.resolver_match.url_name %}active{% endif %}">
                        <a href="{% url 'settings-category-list' %}"><i class="fa fa-circle-o"></i> Категории</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{% url 'import-step-1' %}"><i class="fa fa-book"></i> <span>Импорт</span></a>
            </li>

            <li class="treeview menu-open menu-categories">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Товары </span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                {% for category_,structure in categories|tree_info %}
                    {% if structure.new_level %}
                        <ul class="treeview-menu">
                            <li class="{% if category and category.pk == category_.pk %}active{% endif %}">

                    {% else %}
                        </li><li class="{% if category and category.pk == category_.pk %}active{% endif %}">
                    {% endif %}
                    <a href="{% url 'category' category_.pk %}"><i class="fa fa-circle-o"></i>{{ category_.name }}</a>
                    {% for level in structure.closed_levels %}
                        </li></ul>
                    {% endfor %}
                {% endfor %}
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {% block page_name %}
                Главная
            {% endblock %}
        </h1>
        <ol class="breadcrumb">
            <li class="active"><a href="/"><i class="fa fa-dashboard"></i> Главная</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        {% block content %}
        {% endblock %}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.6
    </div>

  </footer>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- Morris.js charts -->
<script src="{% static 'bower_components/raphael/raphael.min.js' %}"></script>
<script src="{% static 'bower_components/morris.js/morris.min.js' %}"></script>
<!-- Sparkline -->
<script src="{% static 'bower_components/jquery-sparkline/dist/jquery.sparkline.min.js' %}"></script>
<!-- jvectormap -->
<script src="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<!-- jQuery Knob Chart -->
<script src="{% static 'bower_components/jquery-knob/dist/jquery.knob.min.js' %}"></script>
<!-- daterangepicker -->
<script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<!-- datepicker -->
<script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>
<!-- Slimscroll -->
<script src="{% static 'bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'bower_components/fastclick/lib/fastclick.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.js' %}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->

<style>
    .menu-categories > .treeview-menu {
        display: block;
    }
    .treeview-menu .treeview-menu {
        display: block;
    }
</style>

{% block javascript_bottom %}
{% endblock %}
</body>
</html>
