<div id="fields"></div>
<textarea name="fields" id="id_fields" rows="10" cols="40">{{ value }}</textarea>

<script>
    (function ($) {
        var fields = {{ fields|safe }};
        $('#id_category').on('change', function () {
            var category_id = $(this).val();
            if (category_id) {
                if (Array.isArray(fields[category_id])) {
                    $('#fields').html('');
                    var json_str = "";
                    var json_vals = {};
                    fields[category_id].forEach(function (val, idx) {
                        var element_html = "<div><label>" + val['name'] + ": <input id='" + val['code'] + "'></label></div>";
                        $('#fields').append(element_html);
                    });

                    var cur_value = $('#id_fields').val();
                    if (cur_value && cur_value != 'null') {
                        json_vals = JSON.parse(cur_value);
                        $('#fields input').each(function (idx, val) {
                            $(val).val(json_vals[$(val).attr('id')]);
                        });

                        json_str = JSON.stringify(json_vals, null, ' ');
                        $('#id_fields').val(json_str);
                    }

                    $('#fields input').on('change', function () {
                        $('#fields input').each(function(idx, val) {
                            json_vals[$(val).attr('id')] = $(val).val();
                        });
                        json_str = JSON.stringify(json_vals, null, ' ');
                        $('#id_fields').val(json_str);
                    })
                }
            }
        });
    })(django.jQuery);
</script>

<style>
    #fields {
        float: left;
        overflow: hidden;
    }

    #fields > div {
        overflow: hidden;
    }

    #fields > div > label {
        width: 100%;
    }

    #fields > div > label > input {
        float: right;
    }
</style>