{% extends 'layouts/main.html' %}
{% load product_tags %}
{% load widget_tweaks %}
{% load mptt_tags %}
{% load bootstrap_pagination %}

{% block page_name %}
    Товары
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Фильтр</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" style="display: block;">
                    <form>
                        <form action="" method="get">
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="id_code">{{ filter.form.code.label }}:</label>
                                    {{ filter.form.code|add_class:'form-control' }}
                                </div>
                                <div class="col-md-2">
                                    <label for="id_name">{{ filter.form.name.label }}:</label>
                                    {{ filter.form.name|add_class:'form-control' }}
                                </div>
                                <div class="col-md-2">
                                    <label for="id_in_stock">{{ filter.form.in_stock.label }}:</label>
                                    {{ filter.form.in_stock|add_class:'form-control' }}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                  <div class="box box-default">
                                      <div class="box-header with-border">
                                          <h3 class="box-title">Фильтр по полям</h3>
                                      </div>
                                      <div class="box-body">
                                          {% for field in filter.form %}
                                              {% if 'json' in field.name %}
                                                  <div class="col-md-2">
                                                      <label for="{{ field.auto_id }}">{{ field.label }}:</label>
                                                      {{ field|add_class:'form-control' }}
                                                  </div>
                                              {% endif %}
                                          {% endfor %}
                                      </div>
                                  </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Применить</button>
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Товары в категории "{{ category }}"</h3>
                    <div class="box-tools">
                        <form method="GET" action="">
                            {% for field, value in filter_query_fields.items %}
                                <input type="hidden" name="{{ field }}" value="{{ value }}">
                            {% endfor %}
                            <div class="input-group input-group-sm" style="width: 160px; float: left; margin-right: 10px">
                                <label for="id_wholesale_currency">Опт. цена:</label>
                                <select id="id_wholesale_currency" name="wholesale_currency_display" class="form-control pull-right" style="width: 80px">
                                    <option disabled selected>Валюта</option>
                                    {% for currency in currencies %}
                                        <option value="{{ currency.code }}" {% if currency.code == wholesale_currency_display %}selected{% endif %}>
                                            {{ currency }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-group input-group-sm" style="width: 160px; float: left;  margin-right: 10px">
                                <label for="id_retail_currency">Розн. цена:</label>
                                <select id="id_retail_currency" name="retail_currency_display" class="form-control pull-right" style="width: 80px">
                                    <option disabled selected>Валюта</option>
                                    {% for currency in currencies %}
                                        <option value="{{ currency.code }}" {% if currency.code == retail_currency_display %}selected{% endif %}>
                                             {{ currency }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-group input-group-sm" style="width: 80px;">
                                <button class="btn btn-primary">Применить</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form method="POST" action="/products/move/">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3">
                                Перенести выбранные товары в:
                            </div>
                            <div class="col-md-3">
                                <select class="form-control" name="category_id">
                                    <option disabled selected>-- Выберите категорию --</option>
                                    {% for category,structure in categories|tree_info %}
                                        <option value="{{ category.pk }}">
                                        {% category_level category.level %} {{ category.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-success" id="move-button" disabled>Перенести</button>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-info" href="{% url 'export' category.pk %}">
                                    <i class="fa fa-download"></i> Экспорт
                                </a>
                            </div>
                        </div>
                        <br>
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th></th>
                                <th>Артикул</th>
                                <th>Название</th>
                                <th>Производитель</th>
                                <th>Опт. цена</th>
                                <th>Розн. цена</th>
                                <th>Наличие</th>
                                {% for field in category_fields %}
                                    <th>{{ field.name }}</th>
                                {% endfor %}
                            </tr>
                            {% for product in products %}
                                <tr>
                                    <td><input type="checkbox" class="product-checkbox" name="product_selected" value="{{ product.pk }}"></td>
                                    <td>{{ product.code }}</td>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.manufacturer }}</td>
                                    <td>
                                        {% show_price product 'wholesale' wholesale_currency_display currency_cache currency_rate_cache %}
                                    </td>
                                    <td>
                                        {% show_price product 'retail' retail_currency_display currency_cache currency_rate_cache %}
                                    </td>
                                    <td>
                                        {% if product.stock_num %}
                                            {{ product.stock_num.lower }}-{{ product.stock_num.upper }}
                                        {% elif product.stock %}
                                            {% if product.stock == 'yes' %}
                                                Да
                                            {% elif product.stock == 'no' %}
                                                Нет
                                            {% endif %}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    {% for field in category_fields %}
                                        <td>{% product_tags product.fields field.code %}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                        {% bootstrap_paginate products %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_bottom %}
    <script>
        $(document).ready(function() {
            $('.product-checkbox').on('change', function(){
                var checked = $('.product-checkbox:checked').length;
                if (checked > 0) {
                    $('#move-button').attr('disabled', false);
                } else {
                    $('#move-button').attr('disabled', true);
                }
            })
        })
    </script>
{% endblock %}